@charset "utf-8";
body{padding: 0px;margin: 0px;}
#header{width: auto;min-height: 70px;line-height: 70px;}
#header{border-bottom: medium solid #39A631;}
span.title_con{font-family:"微软雅黑";font-style: normal;font-size: 2em;font-weight:800 ;color: #39A631;padding-left: 1em;}
.second_title_con{font-size: 20px !important;padding-left: 2em !important;}
.header_title{margin:20px 0 10px 0}
th{color: #0567e0;}
td{color: #333333;}
.form-group{
    margin-left: 20px !important;
    margin-top: 5px !important;
}
.role_hidden{
    display: none;
}
.tableStyle{padding-left: 50px;padding-right: 50px;padding-top: 30px;}
.table span:hover{color:blue;cursor: pointer;}
.pagination-detail{font-size: 14px !important;color: #999999 !important;}
.dropdown-toggle{color: #999999 !important;line-height: 5px !important;height: 25px;}
.btn-default:hover{color: #333333 !important;}
.infobtn{float: right;margin-right: 50px;}
.infoOperate{display:none;background-color: #d9d8d7;width: 500px;border: 1px solid rgb(57,166,49);border-radius: 6px;position: fixed;top:100px;left: 39%;}
#infoOperatetitle{height: 50px;width: 100%;font-size: 30px;line-height: 50px;background-color: #8EC172;text-align: center;}
.middle {height: 786px;width: 100%;z-index: 0;position: relative;}
