@charset "utf-8";
body{padding: 0px;margin: 0px;}
#header{width: auto;min-height: 70px;line-height: 70px;}
#header{border-bottom: medium solid #39A631;}
span.title_con{font-family:"微软雅黑";font-style: normal;font-size: 2em;font-weight:800 ;color: #39A631;padding-left: 1em;}
#editbtn,#addbtn,#deletebtn{float: right !important;margin-right: 50px;margin-top: 8px;}
#searchbtn{margin-top: 8px;margin-left: 55px;}
#search{position: relative;left: 50px;top: 5px;width: 250px !important;height: 33px; !important;}
th{font-size: 16px;color: #0567e0;}
td{font-size: 16px;color: #333333;}
.tableStyle{padding-left: 50px;padding-right: 50px;padding-top: 30px;}
.table span:hover{color:blue;cursor: pointer;}
.pagination-detail{font-size: 14px !important;color: #999999 !important;}
.dropdown-toggle{color: #999999 !important;line-height: 5px !important;height: 25px;}
.btn-default:hover{color: #333333 !important;}
